# Infrastructure
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=secondbrain

# Ports
HTTP_PORT=9898
WS_PORT=8080

# Backend Config
JWT_SECRET=your_jwt_secret_here
REDIS_URL="redis://localhost:6379"
FRONTEND_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/secondbrain?schema=public"
